@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Meta Sans', sans-serif;
  background-color: rgb(32, 32, 32);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: 18181b;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(123, 117, 117);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

